body{
    background-color:darkgray;
    padding-left: 3em;
}
fieldset{
    margin-top: 1em;   
    background-color: lightgray;
    border-width: medium;
    border-color: steelblue;
    
}